<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/styleHome.css">
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <title>MOVIERAMA</title>
  </head>
  <body>
     <div id="above">
      <nav>
        <h1><a href= '/aboutus'>About</a></h1>
      </nav>
        <h1>WELCOME TO MOVIEMARA</h1>
        <p>Your personal list of movies :)</p>
      </div>
      <div id="mybody">
        <h5>Please subscribe before we get stared</h5>
        <ul>
          <li><a href= '/auth/google'>Login</a></li>
        </ul>
      </div>
  <script src="/assets/booklist.js" charset="utf-8"></script>
  </body>
</html>
