body{
  margin: 0px
}



nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-left: 50px;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  position: relative;
  list-style-type: none;
  right:250px
}

#page{
  
  position: var(--position);
  left: var(--left);
  width: var(--width);
  height: 800px;
  border: 2px groove blue;

}

#above{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px groove grey;
  background-color: #b2c9ed;
}

#searchMovie{
  position: relative;
  float: right;
  bottom:70px;
  right:50px;
}

#above h1{
  display: flex;
  position: relative;
  right:100px

}


h4{
  display: flex;
  justify-content: center;
}

ul{
  position: relative;
  top: 40px;
  right: 30px;
  list-style-type: none;
}


#movielist li{
  box-sizing: border-box;
  padding-left: 2px;
  border-left: lightseagreen;
  border-left: solid;
  margin:10px;
  position: relative;
  left:450px
}


button{
  font-size: 11px;
  display: flex;
  position: relative;
  top: 2px;
  right:850px;
  float: right;
  color: #7EA3B1;
  border-radius: 50px;
  border-style: groove;
  height: 17px;
  
}

#middle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom:15px
}

input{
  background-color: #CDE7FD;
  border-radius: 50px;
  border-style: groove;
}

#addButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

#addBook{
  position: relative;
  bottom: 1000px;
  
}

button:hover{
  background-color: grey;
  cursor: pointer;
}
